@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin circle($w, $h, $bg) {
	width: $w;
	height: $h;
	border-radius: 50%;
	background-color: $bg;
}

@keyframes fade-in {
	from {
		opacity: 0;
	} to {
		opacity: 1;
	}
}

@mixin fade-in($t) {
	animation: fade-in $t ease-in-out;
}

$media-breakpoint: 600px;

@mixin small {
	@media (max-width: #{$media-breakpoint}) {
		@content;
	}
}
